<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/vue-cookies@1.5.12/vue-cookies.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <title>RSS homework</title>
</head>
<body>
    <script src="/js/components.js"></script>
    <div id="rss-app" class="container">
        <div id="nav-bar" class="row d-flex justify-content-center mb-4" v-if="!isLoggedIn">
            <router-link class="col-2 text-center" to="/registration">Registration</router-link>
            <router-link class="col-2 text-center" to="/login">Login</router-link>
        </div>

        <router-view></router-view>
    </div>

    <script type="text/x-template" id="registration-template">
        <form id="register" class="row d-flex justify-content-center">
            <h3 class="col-12 text-center">Registration</h3>

            <div class="form-group col-5 mt-5">
                <input type="text" v-model="email" @change="validateEmail" class="col-12 my-2">
                <input type="password" v-model="password" class="col-12 my-2">
                <button @click="register($event)" class="col-12 my-3">Submit</button>
                <span v-show="errorText" class="col-12 text-danger">{{ errorText }}</span>
                <span v-show="successText" class="col-12 text-success text-center">{{ successText }}</span>
            </div>
        </form>
    </script>

    <script type="text/x-template" id="login-template">
        <form id="login" class="row d-flex justify-content-center">
            <h3 class="col-12 text-center">Login</h3>

            <div class="form-group col-5 mt-5">
                <input type="text" v-model="email" class="col-12 my-2">
                <input type="password" v-model="password" class="col-12 my-2">
                <button @click="login($event)" class="col-12 my-3">Submit</button>
                <span v-show="errorText" class="col-12 text-danger">{{ errorText }}</span>
            </div>
        </form>
    </script>

    <script type="text/x-template" id="rss-feed-template">
        <div>
            <a href="#" class="float-right" v-if="isLoggedIn" @click="logout()">Logout</a>
            <h5>10 most frequent words</h5>
                <ol>
                    <li v-for="(count, word) in mostFrequentWords">{{ word }} - {{ count }}</li>
                </ol>
            <hr>


            <h5 v-if="!showFeed">No feed received yet</h5>

            <div v-if="showFeed">
                <a :href="rssFeed.link[1]['@attributes'].href" class="row" target="_blank">
                    <img :src="rssFeed.icon" class="img-responsive">
                    <h2>{{ rssFeed.title }}</h2>
                </a>
                <a :href="rssFeed.author.uri" target="_blank"><strong>{{ rssFeed.author.name }}</strong></a>

                <div class="row mt-5">
                    <div v-for="post in rssFeed.entry" class="col-12 my-2">
                        <a :href="post.link['@attributes'].href" target="_blank">
                            <h4 class="col-12">{{ post.title }}</h4>
                        </a>
                        <a :href="post.author.uri" target="_blank">
                            <span class="col-12">by {{ post.author.name }}</span>
                        </a>
                        <div class="col-12" v-html="post.summary"></div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script src="/js/main.js"></script>
</body>
</html>